@import 'fonts';
$border-radius: 8px;
$sky-day: #41D5FF;
$sky-night: #256E96;
$box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.2);
body {
    background: radial-gradient(#F7F5F5, #E0E0E0);
    font-size: 16px;
    margin: 0;
    height: 100vh;
}

.content {
    margin: 0 auto;
    max-width: 880px;
    width: 100%;
    overflow: hidden;
}

* {
    font-family: 'open_sans', sans-serif;
    outline: none;
}

.search {
    margin: 40px auto 20px auto;
    width: 300px;
    border-radius: $border-radius;
    .form {
        position: relative;
        margin: 0;
        padding: 10px;
    }
    .input {
        border-radius: $border-radius;
        border: none;
        box-shadow: $box-shadow;
        box-sizing: border-box;
        font-size: 16px;
        line-height: 50px;
        margin-right: 10px;
        padding: 0 16px;
        position: relative;
        transition: all 0.5s ease-out;
        width: 100%;
    }
    .button {
        background: #149CDD;
        border-radius: 50px;
        border: none;
        box-shadow: $box-shadow;
        box-sizing: border-box;
        color: #F1F1F1;
        font-size: 32px;
        font-weight: 600;
        line-height: 50px;
        padding: 0;
        position: relative;
        text-transform: uppercase;
        transition: all 0.5s ease-out;
        position: absolute;
        right: -50px;
        width: 50px;
        margin-top: -25px;
        top: 50%;
        &:hover {
            background: #2DA9E4;
            cursor: pointer;
        }
    }
}

.cards {
    overflow: hidden;
    padding: 20px 0;
    box-sizing: border-box;
}

.card {
    background-color: #FFFFFF;
    float: left;
    width: 240px;
    margin: 0 0 40px 40px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    .image {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        height: 200px;
        overflow: hidden;
        position: relative;
        &.icon01 {
            &d {
                background: $sky-day;
                .sun {
                    display: block;
                }
            }
            &n {
                background: $sky-night;
                .moon {
                    display: block;
                }
            }
        }
        &.icon02 {
            &d,
            &n {
                .cloud {
                    display: block;
                }
            }
            &d {
                background: $sky-day;
                .sun {
                    display: block;
                }
            }
            &n {
                background: $sky-night;
                .moon {
                    display: block;
                }
            }
        }
        &.icon03 {
            &d,
            &n {
                .cloud {
                    display: block;
                }
            }
            &d {
                background: $sky-day;
            }
            &n {
                background: $sky-night;
            }
        }
        &.icon04 {
            &d,
            &n {
                .cloud {
                    display: block;
                }
                .cloud2 {
                    display: block;
                }
            }
            &d {
                background: $sky-day;
            }
            &n {
                background: $sky-night;
            }
        }
        &.icon09 {
            &d,
            &n {
                .cloud {
                    display: block;
                }
                .cloud2 {
                    display: block;
                }
                .rain {
                    display: block;
                }
            }
            &d {
                background: $sky-day;
            }
            &n {
                background: $sky-night;
            }
        }
        &.icon10 {
            &d,
            &n {
                .cloud {
                    display: block;
                }
                .rain {
                    display: block;
                }
            }
            &d {
                background: $sky-day;
                .sun {
                    display: block;
                }
            }
            &n {
                background: $sky-night;
                .moon {
                    display: block;
                }
            }
        }
        &.icon11 {
            &d,
            &n {
                .cloud {
                    display: block;
                }
                .cloud2 {
                    display: block;
                }
                .rain {
                    display: block;
                }
                .rain2 {
                    display: none;
                }
                .thunder {
                    display: block;
                }
            }
            &d {
                background: $sky-day;
            }
            &n {
                background: $sky-night;
            }
        }
        &.icon13 {
            &d,
            &n {
                .cloud {
                    display: block;
                }
                .cloud2 {
                    display: block;
                }
                .snow {
                    display: block;
                }
            }
            &d {
                background: $sky-day;
            }
            &n {
                background: $sky-night;
            }
        }
        &.icon50 {
            &d,
            &n {
                .mist {
                    display: block;
                }
            }
            &d {
                background: $sky-day;
            }
            &n {
                background: $sky-night;
            }
        }
        .cloud {
            background: #ffffff;
            border-top-left-radius: 100px;
            border-top-right-radius: 100px;
            display: none;
            height: 80px;
            position: absolute;
            right: 90px;
            top: 20px;
            width: 160px;
            z-index: 1;
            &:after {
                background: #ffffff;
                border-top-left-radius: 100px;
                border-top-right-radius: 100px;
                bottom: 0px;
                content: '';
                height: 50px;
                position: absolute;
                right: -40px;
                width: 100px;
            }
        }
        .cloud2 {
            background: #A0EAFF;
            border-top-left-radius: 100px;
            border-top-right-radius: 100px;
            display: none;
            height: 80px;
            position: absolute;
            right: 20px;
            top: -20px;
            width: 160px;
            z-index: 0;
            &:after {
                background: #A0EAFF;
                border-top-left-radius: 100px;
                border-top-right-radius: 100px;
                bottom: 0px;
                content: '';
                height: 50px;
                position: absolute;
                right: -40px;
                width: 100px;
            }
        }
        .moon {
            background: #FFF9CE;
            border-radius: 100%;
            box-shadow: 0 0 20px 3px rgb(166, 212, 228);
            content: '';
            height: 80px;
            position: absolute;
            right: -20px;
            top: -20px;
            width: 80px;
            display: none;
        }
        .rain {
            display: none;
            &:after {
                background: #ffffff;
                border-radius: 10px;
                height: 20px;
                position: absolute;
                right: 210px;
                top: 160px;
                width: 4px;
                content: '';
                transform: rotate(20deg);
            }
            &:before {
                background: rgba(255, 255, 255, 0.5);
                border-radius: 10px;
                height: 20px;
                position: absolute;
                right: 210px;
                top: 110px;
                width: 4px;
                content: '';
                transform: rotate(20deg);
            }
        }
        .rain2 {
            &:after {
                background: #ffffff;
                border-radius: 10px;
                height: 20px;
                position: absolute;
                right: 180px;
                top: 120px;
                width: 4px;
                content: '';
                transform: rotate(20deg);
            }
            &:before {
                background: rgba(255, 255, 255, 0.5);
                border-radius: 10px;
                height: 20px;
                position: absolute;
                right: 170px;
                top: 150px;
                width: 4px;
                content: '';
                transform: rotate(20deg);
            }
        }
        .rain3 {
            &:after {
                background: #ffffff;
                border-radius: 10px;
                height: 20px;
                position: absolute;
                right: 80px;
                top: 120px;
                width: 4px;
                content: '';
                transform: rotate(20deg);
            }
            &:before {
                background: rgba(255, 255, 255, 0.5);
                border-radius: 10px;
                height: 20px;
                position: absolute;
                right: 130px;
                top: 110px;
                width: 4px;
                content: '';
                transform: rotate(20deg);
            }
        }
        .snow {
            display: none;
            &:after {
                background: #ffffff;
                border-radius: 10px;
                height: 10px;
                position: absolute;
                right: 180px;
                top: 120px;
                width: 10px;
                content: '';
            }
            &:before {
                background: rgba(255, 255, 255, 0.5);
                border-radius: 10px;
                height: 5px;
                position: absolute;
                right: 210px;
                top: 110px;
                width: 5px;
                content: '';
            }
        }
        .snow2 {
            &:after {
                background: #ffffff;
                border-radius: 10px;
                height: 10px;
                position: absolute;
                right: 210px;
                top: 160px;
                width: 10px;
                content: '';
            }
            &:before {
                background: rgba(255, 255, 255, 0.5);
                border-radius: 10px;
                height: 5px;
                position: absolute;
                right: 170px;
                top: 150px;
                width: 5px;
                content: '';
            }
        }
        .snow3 {
            &:after {
                background: #ffffff;
                border-radius: 10px;
                height: 10px;
                position: absolute;
                right: 80px;
                top: 120px;
                width: 10px;
                content: '';
            }
            &:before {
                background: rgba(255, 255, 255, 0.5);
                border-radius: 10px;
                height: 5px;
                position: absolute;
                right: 130px;
                top: 110px;
                width: 5px;
                content: '';
            }
        }
        .sun {
            background: #FFF392;
            border-radius: 100%;
            display: none;
            height: 160px;
            position: absolute;
            right: -50px;
            top: -50px;
            width: 160px;
            &:after {
                background: #FFE100;
                border-radius: 100%;
                box-shadow: 0 0 20px 3px #FFA500;
                content: '';
                height: 80px;
                position: absolute;
                right: 40px;
                top: 40px;
                width: 80px;
            }
        }
        .stars {
            &:after {
                background: #ffffff;
                border-radius: 2px;
                height: 2px;
                position: absolute;
                right: 105px;
                top: 45px;
                width: 2px;
                content: '';
            }
            &:before {
                background: rgba(255, 255, 255, 0.5);
                border-radius: 2px;
                height: 2px;
                position: absolute;
                right: 150px;
                top: 30px;
                width: 2px;
                content: '';
            }
        }
        .stars2 {
            &:after {
                background: #ffffff;
                border-radius: 2px;
                height: 2px;
                position: absolute;
                right: 170px;
                top: 60px;
                width: 2px;
                content: '';
            }
            &:before {
                background: rgba(255, 255, 255, 0.5);
                border-radius: 2px;
                height: 2px;
                position: absolute;
                right: 210px;
                top: 50px;
                width: 2px;
                content: '';
            }
        }
        .thunder {
            display: none;
            &:after {
                border-bottom: 35px solid #ffffff;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 0px solid transparent;
                content: '';
                height: 1px;
                position: absolute;
                right: 170px;
                top: 115px;
                transform: rotate(20deg);
                width: 1px;
            }
            &:before {
                border-bottom: 0 solid transparent;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 35px solid #ffffff;
                height: 1px;
                position: absolute;
                right: 170px;
                top: 140px;
                width: 1px;
                content: '';
                transform: rotate(20deg);
            }
        }
    }
    .info {
        padding: 20px;
        height: 198px;
        box-sizing: border-box;
        position: relative;
    }
    .temperature {
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: $box-shadow;
        color: #5D5D5D;
        font-size: 35px;
        height: 100px;
        line-height: 100px;
        margin-top: -72px;
        margin: -72px auto 20px auto;
        position: relative;
        text-align: center;
        width: 100px;
        &:after {
            color: #B7B7B7;
            content: '°';
            font-size: 30px;
            position: absolute;
            top: -4px;
        }
    }
    .name {
        font-size: 20px;
        color: #8A8A8A;
    }
    .description {
        font-size: 15px;
        color: #8A8A8A;
    }
    .close {
        font-size: 20px;
        border-radius: 50%;
        border: 1px solid #FFA7A7;
        color: #FFA7A7;
        height: 21px;
        line-height: 21px;
        width: 21px;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s;
        bottom: 20px;
        position: absolute;
        left: 50%;
        margin-left: -10.5px;
        &:hover {
            border: 1px solid #F00;
            color: #F00;
        }
    }
}
