<html ng-app="weatherApp">

<head>
    <title>weather</title>
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</head>

<body>
    <div class="content" ng-controller="weatherController" ng-cloak>
        <div class="search">
            <form class="form" ng-submit="getWeather()">
                <input class="input" type="text" ng-model="locationInput">
                <input class="button" type="button" value="Add" ng-click="getWeather()">
            </form>
        </div>
        <div class="card">
            <div class="image"></div>
            <div class="info">
                <div class="temperature">{{ locationTemperature }}</div>
                <div class="name">{{ locationName }}</div>
                <div class="description">{{ locationDescription }}</div>
                <div class="close">×</div>
            </div>
        </div>
    </div>
</body>

</html>
